<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Basalt</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h1 class="navbar-brand" href="#">Basalt</h1>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Notas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks">Tareas</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
            <div id="sidebar" class="col-md-3 bg-light vh-100 p-3">
                <h2>Notes</h2>
                <form action="/select_folder" method="POST" class="mb-3">
                    <div class="input-group">
                        <input type="text" name="folder_path" class="form-control" placeholder="Enter folder path" required>
                        <button type="submit" class="btn btn-secondary ">Select Folder</button>
                    </div>
                </form>
                <ul id = "notes_list" class="list-unstyled">
                </ul>
            </div>
            <div id="editor" class="col-md-9 vh-100 p-3">
                <h2>Editing file: {{name}} </h2>
            <form id="textform" action="/getText" method="post">
                <button type="submit" class="btn btn-primary me-md-2"> Guardar</button>
                <textarea name="text" id="textarea"  class="form-control" rows="20" placeholder="Start writing...">{{ content }}</textarea>
            </form>
            </div>
            </div>
        </div>
    </body>

    <script>
        // populate the notes_list with links to the files found in the folder path
        fetch('/get_files')
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            let notes_list = document.getElementById('notes_list');
            notes_list.innerHTML = '';
            data.forEach(file => {
                let li = document.createElement('li');
                let a = document.createElement('a');
                a.href = '#';
                a.innerText = file;
                li.appendChild(a);
                notes_list.appendChild(li);
            });
        })
        .catch(error => {
            console.error('Error fetching files:', error);
        });

        // event listener handler for each note link to /open_file
        document.getElementById('notes_list').addEventListener('click', (event) => {
            event.preventDefault();
            let note = event.target.innerText;
            fetch(`/open_file?file=${note}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                window.location.reload();
                return response.json();
            })
            .then(data => {
                document.getElementById('editor').innerHTML = data;
            })
            .catch(error => {
                console.error('Error opening file:', error);
            });
        });

        const textarea = document.getElementById("textarea")
        const form = document.getElementById("textform")
        let timer;
        const delay = 1000;
        textarea.addEventListener('input', function() {
            clearTimeout(timer);//resetea el timer siempre que el usuario digita
            timer = setTimeout(() => {//función de flecha (sin nombre)
                form.submit();
            }, delay); //es realizada a cada timer tiempo

        })
    </script>
</html>