<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Basalt</title>
</head>
    <body>
        <div class="container-fluid">
            <div id="header" class="row bg-dark text-white p-3">
            <h1 class="col">Basalt</h1>
            </div>
            <div class="row">
            <div id="sidebar" class="col-md-3 bg-light vh-100 p-3">
                <h2>Notes</h2>
                <ul class="list-unstyled">
                <li><a href="#">Note 1</a></li>
                <li><a href="#">Note 2</a></li>
                <li><a href="#">Note 3</a></li>
                </ul>
            </div>
            <div id="editor" class="col-md-9 vh-100 p-3">
                <h2>Editing file: {{name}} </h2>
            <form action="/getText" method="post">
                <button type="submit" class="btn btn-primary me-md-2"> Guardar</button>
                <textarea name="text"  class="form-control" rows="20" placeholder="Start writing...">{{ content }}</textarea>
            </form>
            </div>
            </div>
        </div>
    </body>
</html>